{{- if .Values.kourier.enabled }}
# ConfigMap patch for Knative Serving to use Kourier as ingress controller
# This must be deployed to knative-serving namespace to be picked up by Knative
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-network
  namespace: knative-serving
  labels:
    {{- include "networking-layer.labels" . | nindent 4 }}
    app.kubernetes.io/component: networking
data:
  # Configure Kourier as the ingress class for Knative Serving
  # This tells Knative to use Kourier for routing ingress traffic
  ingress-class: "kourier.ingress.networking.knative.dev"
  # Use Kourier's internal service for internal traffic
  # Critical for KServe to work with Kourier
  internal-encryption: "false"
{{- end }}
