{{- if .Values.envoyGateway.enabled }}
{{- if .Values.envoyGateway.preserveRequestId }}
# EnvoyProxy configuration for request ID preservation
# This ensures X-Request-ID headers flow through the entire request chain
# for end-to-end correlation in logs and metrics
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: {{ include "networking-layer.fullname" . }}-proxy-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "networking-layer.labels" . | nindent 4 }}
spec:
  provider:
    type: Kubernetes
    kubernetes:
      envoyDeployment:
        container:
          # No container overrides needed for this config
          resources: {}
  bootstrap:
    type: Merge
    value: |
      static_resources:
        listeners:
        - name: listener_0
          filter_chains:
          - filters:
            - name: envoy.filters.network.http_connection_manager
              typed_config:
                "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                preserve_external_request_id: true
                generate_request_id: true
                request_id_extension:
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.request_id.uuid.v3.UuidRequestIdConfig
                    pack_trace_reason: true
                    use_request_id_for_trace_sampling: true
{{- end }}
{{- end }}
